*{
    font-family: "PTRootUI",Helvetica,Arial,sans-serif;
}

.Upperbody{
    padding-left: 10%;
    padding-right: 10%;

}

.gigantic_header{
    font-size: 48px;
    font-weight: bold;
    color: #212121;
}

.gigantic_header_text{
    font-size: 1.2em;
}




