
.Middlebody{
    padding-left: 5%;
    padding-right: 5%;
}

.gap{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

#cardstyle1{
    height: 80px;
    vertical-align: middle;
    text-align: center;
    line-height: 80px;
    background-color: rgb(255, 255, 255);

}

#cardstyle2{
    height: 320px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

#cardstyle3{
    height: 240px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(245, 245, 245);
}




  