.gigantic_header_text2{
    font-size: 1em;
    line-height: 40px;
}

.gigantic_header_color{
    color:rgb(87, 85, 81);
}

#icons{
    color: blue;
}


.Footer{
    padding-left: 5%;
    padding-right: 5%;
}
